body {
    height: 200vh;
}

/* Logo */
.logo {
    margin: 0;
    height: 70px;
}

/* Navbar */
nav {
    background: #232526;  /* fallback for old browsers */
}

.parallax-container {
    height: 90vh;
}
